@font-face {
    font-family: 'episode1';
    src: url('font/EPISODE1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body{
    background: black;
}

/*entête du site*/
header{
  
}
#logoSW{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}
#titre{
    color:white; 
    font-size: 35px;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: 'episode1';

}

/*tableau*/

#tab{
    display: flex;
}
#tabJeu
{
    border-collapse: collapse;
    margin: 70px 0px;
}

td
{
    border: 1px solid yellow;
    width: 60px;
    height: 60px;  
}

 
tr
{
    background: url(images/fondSW.png) fixed;
    border: 0px solid yellow;
    width: 60px;
    height: 60px;
}

