@font-face {
    font-family: 'episode1';
    src: url('font/EPISODE1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body{
    background: black;
}

//entête du site
header{
    display: flex;
    width: 100%;
    
}
#logoSW{
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}
#titre{
    color:white; 
    font-size: 35px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: 'episode1';

}

//tableau

table, tr, td{
   background: url(images/fondSW.png) fixed;
   border: 1px solid white;
   width: 30px;
   height: 30px;
   border-collapse: collapse;
}
