@font-face {
    font-family: 'episode1';
    src: url('font/EPISODE1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

#conteneur{
    margin: 20px 0px;
}

body{
    background: black;
}

span{
    color: white;
}
p{
    color: white;
}

/*entête du site*/
header{
  
}
#logoSW{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}
#titre{
    color:white; 
    font-size: 35px;
    align-items: center;
    margin: auto;
    text-align: center;
    font-family: 'episode1';

}

/*tableau*/

#tab{
    display: flex;
    width: 50%;
    justify-content: center;
}
#tabJeu
{
    border-collapse: collapse;
    margin: 70px 0px;
}

td
{
    border: 1px solid rgba(131, 131, 131, 0.1);
    width: 60px;
    height: 60px; 
}

 
tr
{
    background: url(images/fondSW.png) fixed;
    border: 0px solid rgba(131, 131, 131, 0.5) ;
    width: 60px;
    height: 60px;
}

/*joueurs*/
#sectionJoueur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#players{
    width: 95%;
    height: 500px;
    border: 1px solid grey;  
}

#joueur{
    display: flex;
}
.joueur1{
    height: 200px;
    width: 90%;
    border: 1px solid grey;
    margin: 30px;
}
.joueur2{
    height: 200px;
    width: 90%;
    border: 1px solid grey;
    margin: 30px;
}

.imgPilot{
    height: 150px; 
}

/* messages*/

#messages{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 130px;
    border: 1px solid grey;
}

#mess{
    color: white;
    text-align: center;
    font-size: 25px;
}
#b1{
    width: 100px;
    margin: auto;
}

#contenuJoueur{
    padding: 10px;
    }
    
    #joueur1{
        display: flex;
    
    }
    section{
        display: flex;
        width: 100%;
        align-items: 
        margin: 10px;
    }

/*barre de vie*/
#barreVie{
    width: 150px;
    height: 20px;
    border: 3px groove grey;
}
.bv1{
    background: rgb(172, 0, 0);
}

.bv2{
    background: rgb(172, 0, 0);
}

#bvimg1{
width: 100%;
background: rgb(0, 204, 51);
}

#bvimg2{
width: 100%;
background: rgb(0, 204, 51);
}

/*boutons*/
#btn{
    background-color: rgb(255, 0, 0);
    Color:white;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 1px;
    cursor: pointer; 
    box-shadow: 0 2px 4px 0 grey;
    text-decoration: none;
}


.son{
    visibility:hidden;
}
